on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install scanning tools
        run: |
          wget https://github.com/aquasecurity/trivy/releases/download/v0.52.1/trivy_0.52.1_Linux-64bit.deb
          sudo dpkg -i trivy_0.52.1_Linux-64bit.deb
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sudo sh -s -- -b /usr/local/bin
        shell: bash
      - name: Generate scan results
        run: |
          echo ${{ github.token }} | oras login ghcr.io -u ${{ github.actor }} --password-stdin
          ./run.sh
        shell: bash
